.accountpagemainbody {
  width: 100vw;
  height: auto;
  display: flex;
  gap: 20px;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: #ccc;
  padding: 2rem;
  user-select: none;

  .pagesection {
    /* width: calc(100% - 350px); */
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
