.productidmainbody {
    width: 100vw;
    padding: 4rem 2rem;

    .productinformationbody {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        height: 100vh;

        .imagebody {
            width: 60vw;
            height:100vh;
            position: relative;

            .image {
                width: 100%;
                height: 100%;
            }

            .tag {
                position: absolute;
                top: 10px;
                right: 10px;
                text-transform: capitalize;
                font-weight: 600;
                letter-spacing: 2px;
                font-size: 20px;
                background-color: #452e36;
                color: #fff;
                padding: 1rem 2rem;
            }

            .sale {
                position: absolute;
                bottom: 10px;
                left: 10px;
                text-transform: capitalize;
                font-weight: 600;
                letter-spacing: 2px;
                font-size: 20px;
                background-color: #452e36;
                color: #fff;
                padding: 0.5rem 1.5rem;
            }
        }


        .detailsbody {
            width: 40%;
            padding: 0 3rem 0 2rem;
            height: 100vh;
            overflow-y: scroll;
            overflow-x: hidden;
            scroll-behavior: smooth;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .store {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 22px;
                letter-spacing: 2px;
            }

            .name {
                text-transform: capitalize;
                letter-spacing: 2px;
                font-size: 50px;
                font-weight: 500;
                color: #452e36;
            }

            .ratting>a {
                display: flex;
                gap: 10px;
                font-size: 25px;
                align-items: center;
                text-transform: capitalize;
                letter-spacing: 1px;

                .icons {
                    font-size: 40px;
                    color: #452e36;
                }
            }

            .orderedtimes {
                text-transform: capitalize;
                letter-spacing: 2px;
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                background-color: #452e36;
                color: #fff;
                padding: 0.5rem 1rem;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }

            .amountdiv {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                letter-spacing: 2px;

                .oldamount {
                    text-decoration: line-through;
                    font-size: 30px;
                    font-weight: 200;
                }

                .newamount {
                    font-size: 40px;
                    font-weight: 600;
                }

                .sale {
                    text-transform: capitalize;
                    font-weight: 600;
                    background-color: #452e36;
                    color: #fff;
                    padding: 0.5rem 1rem;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                }
            }

            .shoppinglink {
                text-transform: capitalize;
                letter-spacing: 2px;
                font-size: 20px;
                font-weight: 500;
            }

            .shoppinglink:hover {
                text-decoration: underline;
            }

            .quantity {
                display: flex;
                flex-direction: column;
                gap: 5px;
                /* justify-content: center; */
                /* align-items: center; */

                .text {
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    font-size: 25px;
                    font-weight: 500;
                }

                .quantitybox {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    border: 2px solid #452e36;
                    /* padding: 0.5rem 1rem; */
                    width: 50%;
                    user-select: none;

                    .quantitybutton {
                        border: none;
                        background: none;
                        cursor: pointer;
                        font-size: 35px;
                        padding: 0.5rem 2rem;
                        font-weight: 600;
                        outline: none;
                    }

                    .quantityvalue {
                        font-weight: 500;
                        font-size: 30px;
                    }
                }
            }

            .specialoccasion {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .text {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 20px;
                    position: relative;
                }

                .occasionname {
                    font-size: 22px;
                    letter-spacing: 2px;
                    font-weight: 600;
                    text-transform: capitalize;
                }

                .icons {
                    font-size: 24px;
                    cursor: pointer;
                    position: relative;
                    /* To position the tooltip relative to this element */
                }

                .hovertext {
                    position: absolute;
                    top: -40px;
                    /* Adjust as necessary to move tooltip above the icon */
                    left: 0;
                    background-color: #452e36;
                    color: #fff;
                    padding: 1rem;
                    z-index: 1;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                    white-space: nowrap;
                    /* Prevents breaking long words */
                }

                .icons:hover .hovertext {
                    visibility: visible;
                    opacity: 1;
                }


                .occasionitem {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }

            .cartbutton {
                display: flex;
                flex-direction: column;
                gap: 10px;
                /* align-items: center; */

                .text {
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(69, 46, 54, 0.4);
                }

                .cart, .buy {
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    font-size: 24px;
                    border: 2px solid #452e36;
                    padding: 1rem;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    font-weight: 700;
                    cursor: pointer;
                }

                .cart{
                    background: none;
                    color: #452e36;
                }
                .cart:hover{
                    background-color: #452e36;
                    color: #fff;
                }
                .buy{
                    background-color: #452e36;
                    color: #fff;
                }
            }

            .description{
                text-transform: capitalize;
                letter-spacing: 2px;
                font-size: 22px;
                text-align: justify;
                padding: 1rem;
                user-select: none;
            }

            .share{
                display: flex;
                gap: 10px;
                align-items: center;
                text-transform: capitalize;
                letter-spacing: 1px;
                font-size: 20px;
                font-weight: 600;
                color: #452e36;
                cursor: pointer;
            }
        }
    }
}