.productidmainbody {
    width: 100vw;
    height: calc(100vh - 180px);
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 40px;
    scroll-behavior: smooth;
    padding: 2rem;

    .productinformationbody {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px; 

        .imagebody {
            width: 54%;
            height: 100%;
            position: relative;
        
            .image {
                width: 100%;
                height: 100%;
            }
        
            .tag, .sale {
                position: absolute;
                text-transform: capitalize;
                font-weight: 600;
                font-size: 20px;
                background-color: #452e36;
                color: #fff;
                padding: 1rem;
            }
        
            .tag {
                top: 10px;
                right: 10px;
            }
        
            .sale {
                bottom: 10px;
                left: 10px;
            }
        }

        .detailsbody {
            width: 45%;
            height: 100%; 
            /* overflow-y: scroll; */
            display: flex;
            flex-direction: column;
            gap: 20px;
        
            .store {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 22px;
                letter-spacing: 2px;
                cursor: pointer;
            }
        
            .store a:hover{
                text-decoration: underline;
            }
        
            .name {
                text-transform: capitalize;
                letter-spacing: 2px;
                font-size: 50px;
                font-weight: 500;
                color: #452e36;
            }
            .name:hover{
                text-decoration: underline;
            }
        
            .ratting>a {
                display: flex;
                gap: 10px;
                font-size: 25px;
                align-items: center;
                text-transform: capitalize;
                letter-spacing: 1px;
        
                .icons {
                    font-size: 40px;
                    color: #452e36;
                }
            }
        
            .orderedtimes {
                text-transform: capitalize;
                letter-spacing: 2px;
                font-size: 25px;
                font-weight: 500;
                text-align: center;
                background-color: #452e36;
                color: #fff;
                padding: 0.5rem 1rem;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }
        
            .amountdiv {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                letter-spacing: 2px;
        
                .oldamount {
                    text-decoration: line-through;
                    font-size: 30px;
                    font-weight: 200;
                }
        
                .newamount {
                    font-size: 40px;
                    font-weight: 600;
                }
        
                .sale {
                    text-transform: capitalize;
                    font-weight: 600;
                    background-color: #452e36;
                    color: #fff;
                    padding: 0.5rem 1rem;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                }
            }
        
            .shoppinglink {
                text-transform: capitalize;
                letter-spacing: 2px;
                font-size: 20px;
                font-weight: 500;
            }
        
            .shoppinglink:hover {
                text-decoration: underline;
            }
        
            .quantity {
                display: flex;
                flex-direction: column;
                gap: 5px;
        
                .text {
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    font-size: 25px;
                    font-weight: 500;
                }
        
                .quantitybox {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    border: 2px solid #452e36;
                    width: 50%;
                    user-select: none;
        
                    .quantitybutton {
                        border: none;
                        background: none;
                        cursor: pointer;
                        font-size: 35px;
                        padding: 0.5rem 2rem;
                        font-weight: 600;
                        outline: none;
                    }
        
                    .quantityvalue {
                        font-weight: 500;
                        font-size: 30px;
                    }
                }
            }
        
            .specialoccasion {
                display: flex;
                flex-direction: column;
                gap: 10px;
        
                .text {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-size: 20px;
                    position: relative;
                }
        
                .occasionname {
                    font-size: 22px;
                    letter-spacing: 2px;
                    font-weight: 600;
                    text-transform: capitalize;
                }
        
                .icons {
                    font-size: 24px;
                    cursor: pointer;
                    position: relative;
                }
        
                .hovertext {
                    position: absolute;
                    top: -40px;
                    left: 0;
                    background-color: #452e36;
                    color: #fff;
                    padding: 1rem;
                    z-index: 1;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                    white-space: nowrap;
                }
        
                .icons:hover .hovertext {
                    visibility: visible;
                    opacity: 1;
                }
        
        
                .occasionitem {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        
            .cartbutton {
                display: flex;
                flex-direction: column;
                gap: 10px;
                /* align-items: center; */
        
                 .text {
                    text-transform: capitalize;
                    letter-spacing: 2px;
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(69, 46, 54, 0.4);
                }
        
                .cart, .buy {
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    font-size: 24px;
                    border: 2px solid #452e36;
                    padding: 1rem;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    font-weight: 700;
                    cursor: pointer;
                }
        
                .cart{
                    background: none;
                    color: #452e36;
                }
                .cart:hover{
                    background-color: #452e36;
                    color: #fff;
                }
                .buy{
                    background-color: #452e36;
                    color: #fff;
                }
            }
        
            .description{
                text-transform: capitalize;
                letter-spacing: 2px;
                font-size: 22px;
                text-align: justify;
                padding: 1rem;
                user-select: none;
            }
        
            .share{
                display: flex;
                gap: 10px;
                align-items: center;
                text-transform: capitalize;
                letter-spacing: 1px;
                font-size: 20px;
                font-weight: 600;
                color: #452e36;
                cursor: pointer;
            }
        }

    }
}


.cardcarouselbody, .reviewdiv, .reviewdiv, .reviewcommetsdiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 2rem 2rem; */
    width: 100%;

    .cardcarousel {
        display: flex;
        gap: 20px;
        width: 100%;
        overflow-x: scroll;
    }

    .title{
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 30px;
    }
}

