.refundpolicymainbody{
    width: 100%;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;

    .policybody{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* align-items: center; */
        justify-content: space-evenly;

        .heading{
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 50px;
            color: #452e36;
            text-transform: capitalize;
            text-align: center;
        }

        .title{
            text-transform: capitalize;
            letter-spacing: 2px;
            color: #452e36d4;
            font-weight: 600;
            font-size: 30px;
        }

        .policies{
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            
            .uldiv{
                padding-left: 40px;
                list-style-type: disc;

                .lidiv{
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    text-align: justify;
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }

        .damagediv{
            text-transform: capitalize;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 20px;
            text-align: justify;
        }
    }
}