.card {
  width: 350px;
  min-width: 350px;
  height: auto;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  .cardimage {
    width: 100%;
    position: relative;
    height: 300px;

    .image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

    .bestseller {
      position: absolute;
      left: 10px;
      bottom: 10px;
      padding: 0.4rem 1.7rem;
      background-color: #452e36;
      letter-spacing: 1px;
      text-transform: capitalize;
      color: yellow;
      font-weight: 500;
      font-size: 1.1rem;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}

    .sale {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0.2rem 2rem;
        background-color: #452e36;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: yellow;
        font-weight: 500;
        font-size: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
  }

  .cardbody{
    padding: 0.5rem;
    color: #452e36;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title{
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 22px;
        line-height: 1.8rem;
    }

    .starrating{
        display: flex;
        align-items: center;
        /* justify-content: center; */
        gap: 10px;

        .icons{
            font-size: 30px;
            margin: 0 3px;
        }
        .rating{
            font-size: 23px;
            font-weight: 700;
        }
    }

    .ordertitle{
        text-transform: capitalize;
        background-color: #452e36;
        color: #fff;
        padding: 0.5rem;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 500;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}

    .amount{
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
        gap: 10px;

        .oldrate{
            text-decoration: line-through;
            font-size: 18px;
            font-weight: 300;
        }

        .newrate{
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 2px;
        }
    }

    .addtocart{
        border: none;
        outline: none;
        padding: 0.6rem 1rem;
        cursor: pointer;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: 600;
        background-color: #452e36;
        color: #fff;
        font-size: 20px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
}
  }
}
