.cartmainbody {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
  visibility: visible;

  .cartdiv {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 30%;
    height: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .bar {
      width: 100%;
      height: 1px;
      background-color: #452e36;
    }

    .titlediv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;

      .title {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #452e36;
      }

      .closeicon {
        font-weight: 900;
        font-size: 20px;
        background-color: #452e36;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        color: #fff;
        padding: 5px;
        border: 2px solid #452e36;
        cursor: pointer;
      }
    }

    .itembody {
      width: 100%;
      height: calc(100vh - 40px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .bagdiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .bagicon {
          font-size: 150px;
          color: #452e36;
        }

        .text {
          text-transform: capitalize;
          letter-spacing: 1px;
          font-weight: 500;
          font-size: 20px;
        }
      }

      .shoppingbtn {
        padding: 0.7rem 2rem;
        letter-spacing: 2px;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 18px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        outline: 2px solid transparent;
        border: 3px solid transparent;
        background-color: #452e36;
        color: #fff;
        cursor: pointer;
      }

      .shoppingbtn:hover{
        border: 3px solid #fff;
        outline: 2px solid #452e36;
      }
    }
  }
}

.cartmainbody.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Prevents interactions when hidden */
  }
