.loginmainbody, .loginotpverifymainbody {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .loginbody, .loginotpverifybody {
    width: 40%;
    height: 70%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    color: #452e36;


    .topsection {

      .titlesection {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          text-transform: capitalize;
          letter-spacing: 2px;
          font-weight: 700;
          font-size: 30px;
        }

        .icon {
          font-weight: 700;
          font-size: 30px;
          cursor: pointer;
        }
      }

      .text, .text1 {
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 500;
        color: #b6b6b6;
        font-size: 16px;
      }

      .text1{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: #452e36;

        .emailtext{
            text-transform: lowercase;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .edittext{
            color: gold;
            font-weight: 700;
            cursor: pointer;
        }

        .edittext:hover{
            text-decoration: underline;
        }
      }
    }

    .middleformsection {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #ccc;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      padding: 2rem 1.5rem;

      .timerdiv{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 20px;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: capitalize;

        .vbar{
            width: 1px;
            height: 100%;
            background-color: #452e36;
        }

        .timer{
            letter-spacing: 2px;
            font-weight: 700;
        }

        .resendotp{
            cursor: pointer;
        }
        
        .resendotp:hover{
            text-decoration: underline;
        }
      }

      .fielddiv {
        display: flex;
        flex-direction: column;

        .label{
            text-transform: lowercase;
            font-weight: 600;
            letter-spacing: 2px;
            font-size: 16px;
            /* text-align: center; */
            height: 35px;
        }

        .inputfield{
            padding: 1rem 2rem;
            outline: none;
            border: 2px dashed #452e36;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            background-color: #ccc;
            letter-spacing: 2px;
            font-weight: 500;
            text-transform: lowercase;
            color: #452e36;
            cursor: text;
}

.inputfield:hover{
    border: 2px solid #452e36;
    background-color: #fff;
}

.inputfield:focus{
    border: 2px solid #452e36;
    background-color: #fff;
}

        
      .submitbtn {
        padding: 15px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        outline: none;
        border: none;
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: 600;
        background: none;
        cursor: pointer;
        font-size: 16px;
        background-color: #b6b6b6;
        border: 3px solid transparent;
        color: #452e36;

        .btnspan{
            text-transform: uppercase;
        }
      }

      .submitbtn:hover{
        background-color: #452e36;
        color: #fff;
      }
      }

      .textfielddiv{
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 16px;
        text-align: center;

        .link{
            cursor: pointer;
            font-weight: 800;
        }

        .link:hover{
            text-decoration: underline;
        }
      }


    }

    .staylogoutbtn{
        border: none;
        outline: none;
        background: none;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 15px;
        text-transform: capitalize;
        cursor: pointer;
        color: #452e36;
    }

    .staylogoutbtn:hover{
        text-decoration: underline;
    }
  }

  .loginotpverifybody{
    height: auto;
    gap: 15px;
  }
}
