.navbody {
  width: 100%;
  height: 180px;
  background-color: #452e36;
  user-select: none;
  padding: 1rem 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.icondiv {
  display: flex;
  justify-content: space-between;
}

.profilecart {
  display: flex;
  gap: 40px;
}

.icons {
  font-size: 40px;
  color: #fff;
}

.searchdiv {
  display: flex;
  position: relative;
}

.searchbar {
  padding: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  width: 100%;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #452e36;
}

.searchicons {
  position: absolute;
  right: 30px;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 900;
  top: 50%;
}

.hamburgermenu {
  width: 100%;
  background-color: #452e36;
  height: calc(100vh - 180px);
  user-select: none;
  padding: 1rem 1.3rem;
  color: #fff;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.hamburgermenu.open {
  display: flex;
}

.socialmedia {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.socialmedia .text {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
}

.socialmedia .iconsdiv {
  display: flex;
  gap: 20px;
}

.socialmedia .iconsdiv .icons {
  font-size: 30px;
  cursor: pointer;
}

.hamburgermenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.hamburgermenu ul li {
  margin: 0.5rem;
  padding: 1rem;
}

.hamburgermenu ul li:hover {
  color: #452e36;
  background-color: #fff;
}

.hamburgermenu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.suggestionlist {
  width: 75%;
  height: auto;
  max-height: calc(100vh - 180px);
  background-color: #452e36;
  margin: auto;
  padding: 1rem 2rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #fff;
  z-index: 99999;
  position: absolute;
  top: 180px;
  transform: translateX(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  .searchtext a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .searchtext a:hover {
    color: #452e36;
    background-color: #fff;
    font-weight: 600;

    .icons {
      color: #452e36;
      font-weight: 900;
    }
  }

  .bar {
    width: 100%;
    height: 0.05rem;
    margin: 1rem 0;
    background-color: #fff;
  }

  .title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 20px;
  }

  .suggestionproduct {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .suggestion {
      width: 40%;
    }

    .suggestion li a {
      text-transform: capitalize;
      letter-spacing: 2px;
      font-size: 18px;
    }

    .product {
      width: 60%;
    }
  }
}

.productItem a {
  display: flex;
  gap: 20px;
  align-items: center;

  .details {
    .productname {
      text-transform: capitalize;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 22px;
    }

    .productamount {
      display: flex;
      align-items: center;
      gap: 20px;

      .oldrate {
        text-decoration: line-through;
        font-weight: 200;
        font-size: 20px;
      }

      .newrate {
        font-weight: 700;
        font-size: 22px;
      }
    }
  }
}

.suggestionlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.suggestionlist ul li {
  margin: 0.5rem 0;
  padding: 1rem;
}

.suggestionlist ul li:hover {
  color: #452e36;
  background-color: #fff;
  font-weight: 600;
}

@media (max-width: 600px) {
  .hamburgermenu {
    .socialmedia {
      flex-direction: column;
    }
  }
  .icons {
    font-size: 40px;
  }
  .suggestionlist {
    width: 100%;

    .suggestionproduct {
      flex-direction: column;

      .suggestion {
        width: 100%;
      }

      .product {
        width: 100%;
      }
    }

    .productItem {
      border: 2px solid #fff;

      .details {
        .productname {
          text-align: left;
        }

        .productamount {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
      }
    }
  }
}