/* components/ReviewList.module.css */
.list {
    display: flex;
    /* flex-direction: row; */
    gap: 20px;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
  }

.listbutton{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;

  .btn{
    padding: 10px 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  background-color: #452e36;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.active {
  background-color: #805B36; /* Darker shade for active button */
}
}
  